<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.0">
    <servlet>

        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>

        <servlet-name>Etakemons</servlet-name>
        <servlet-class>servlets.Etakemons</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>Etakemons</servlet-name>
        <url-pattern>/Etakemons</url-pattern>
    </servlet-mapping>




</web-app>

